/* Login.css */

.login-container {
  background-color: #202531;
  min-height: 100vh; /* Set minimum height to the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #202531; /* Set background color */
  color: white; /* Set text color */
  padding: 10px 0; /* Add padding */
  text-align: center; /* Center align text */
  margin-bottom: 20px; /* Add margin to separate from other content */
}

.navbar h1 {
  color: white; /* Set text color */
}

.login-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form p {
  color: red;
  margin-top: 5px;
}
